.metals/
.vscode/
.workflow/

# chisel file
chisel/.bloop/
chisel/.bsp/
chisel/.metals/
chisel/.vscode/
chisel/project/
chisel/generated/
chisel/target/
chisel/vivado*
chisel/.Xil/

# vivado file
vivado/*

vivado/CPU_CDE_SRAM/cpu132_gettrace/run_vivado/cpu132_gettrace/.Xil
vivado/CPU_CDE_SRAM/cpu132_gettrace/run_vivado/cpu132_gettrace/*.cache
vivado/CPU_CDE_SRAM/cpu132_gettrace/run_vivado/cpu132_gettrace/*.hw
vivado/CPU_CDE_SRAM/cpu132_gettrace/run_vivado/cpu132_gettrace/*.ip_user_files
vivado/CPU_CDE_SRAM/cpu132_gettrace/run_vivado/cpu132_gettrace/*.sim
vivado/CPU_CDE_SRAM/cpu132_gettrace/run_vivado/cpu132_gettrace/*.runs


vivado/CPU_CDE_SRAM/mycpu_sram_verify/run_vivado/mycpu_prj1/*.cache
vivado/CPU_CDE_SRAM/mycpu_sram_verify/run_vivado/mycpu_prj1/*.hw
vivado/CPU_CDE_SRAM/mycpu_sram_verify/run_vivado/mycpu_prj1/*.ip_user_files
vivado/CPU_CDE_SRAM/mycpu_sram_verify/run_vivado/mycpu_prj1/*.sim
vivado/CPU_CDE_SRAM/mycpu_sram_verify/run_vivado/mycpu_prj1/*.runs
vivado/CPU_CDE_SRAM/mycpu_sram_verify/*
