.vscode/
.workflow/

# chisel file
chisel/.bloop/
chisel/.bsp/
chisel/.metals/
chisel/.vscode/
chisel/project/
chisel/generated/*
!chisel/generated/mycpu_top.v
chisel/target/
chisel/vivado*
chisel/.Xil/
chisel/inst/u-boot.s
chisel/test_run_dir/
